body {
  margin: 12px;
}

#wrapper {
  background-color: #12a54b;
  height: 460px;
  margin: 10px auto;
  max-width: 400px;
}

.zodButtons {
  width: 100px;
  height: 100px;
}

button {
  /* I WANT TO REMOVE THE BUTTON BORDER */
  /* REMOVE BUTTON BACKGROUND */
  /* ADD CURSOR CHANGE ON HOVER */
  border: none;
  background-color: transparent;
  cursor: pointer;
  
}

button:active {
  /* ANIMATE OLD SCHOOL BUTTON PRESS */
  /* transform: translateX(2px);
  transform: translateY(2px); */
  transform: translate3d(2px, 2px, 0px);
}

#DisplayArea img {
  width: 250px;
}

#DisplayArea {
  border: 15px solid green;
  padding: 10px;
  width: 300px;
  position: fixed;
  left: 10px;
  top: 10px;
  background-color: white;
}

/* USE A CLASS TO HIDE DISPLAY AREA */
/* WITH OPACITY 0 YOU CAN FADE IN FADE OUT... HE LIKES THAT .. IN THE INDEX AREA*/
.hideMe {
  display: none;
}