body {
    background-color: #CAC8C3;
    background-image: url(images/paper-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    text-align: center;
    letter-spacing: 0.02rem;
    line-height: 50%;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden; /* Prevents scrolling */
}

/* HEADERS */
h1 {
    font-family: 'Newsreader', serif;
    font-size: 3.5rem;
    color: #4F3225;
    margin-bottom: 0.5rem;
    margin-top: 3rem;
}

h2 {
    font-family: 'Nixie One', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-top: 1%;
}

h3 {
    font-family: 'News Cycle', sans-serif;
    margin-top: 0.05rem;
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
    color: #646464;
}

/* PARAGRAPH STYLE */
p {
    font-family: 'News Cycle', sans-serif;
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    line-height: 1.5;
}

/* Button container - aligned horizontally */
.zodButtonsContainer {
    display: flex;             
    justify-content: center;  
    gap: 12px;                
    width: 100%;         
    max-width: 1000px;
}

.zodButtons {
    width: 160px;            
    height: 160px;       
    transition: transform 0.5s ease-in-out;
}

/* HOVER EFFECT FOR ZOD BUTTONS */
.zodButtons:hover {
    transform: scale(1.4); /* Slightly larger on hover */
}

/* IMAGE SCALING EFFECT INSIDE BUTTON */
.zodButtons img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
    transition: transform 0.3s ease-in-out; 
}

/* IMAGE HOVER EFFECT */
.zodButtons:hover img {
    transform: scale(1.08); /* Slightly larger image on hover */
}

/* Button styles */
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.5s; /* Smooth animation for button press */
}

button:active {
    transform: translate3d(2px, 2px, 0px); /* Animate button press */
}

#DisplayArea img {
    width: 350px;
}


#DisplayArea {
    padding: 10px;
    width: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e4e2dd;
    border: 3px dashed rgb(134, 120, 120);
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 35px;
    margin-top: 2%;
    margin-bottom: 2%;
    box-sizing: border-box;
    box-shadow: 10px 10px 10px rgba(0.3, 0.3, 0.3, 0.3); 
}


.hideMe {
    display: none;
}

/* Submit button styling */
.submit-container {
    margin-top: 5px;
    margin-bottom: 20px;
}

#zSubmit {
    padding: 15px 25px;
    font-family: sans-serif;
    font-size: 1rem;
    letter-spacing: 5px;
    background-color: #800b0b;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#zSubmit:hover {
    background-color: #6b6a64;
}

/* Styling for input date field */
input[type="date"] {
    padding: 15px 20px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.buttons-background {
    background-color: #1f1a1a;
    background-color: rgba(31, 26, 26, 0.9);
    background-blend-mode: multiply;
    padding: 40px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 180vw; 
    max-height: 95vh;
    overflow: hidden; 
    box-shadow: 10px 10px 10px rgba(0.3, 0.3, 0.3, 0.3); 
}

#Question {
    transform: scale(0.3);
    transform-origin: center center; 
    padding: 5px 5px;
    margin: 0;
}






